extensions:
    doctrine.dbal: Nettrine\DBAL\DI\DbalExtension
    doctrine.orm: Nettrine\ORM\DI\OrmExtension

# Připojení k DB – čte ho i phinx.php (migrace)
doctrine.dbal:
    connections:
        default:
            driver: pdo_mysql
            host: 127.0.0.1
            user: root
            password: ""
            dbname: noctis
            schemaAssetsFilter: App\Model\Database\IgnorePhinxlogFilter()

doctrine.orm:
    managers:
        default:
            defaultCache: Symfony\Component\Cache\Adapter\FilesystemAdapter(directory: %tempDir%/cache/doctrine/orm)
            connection: default
            mapping:
                App:
                    directories: [%appDir%/../src/NoctisRealmsTCG/Model/Entity]
                    namespace: App\Model\Entity
