services:
	- App\Core\RouterFactory::createRouter

	- App\Security\UserAuthenticator

	- App\Model\Service\LevelingService
	- App\Model\Service\Pack\PackGenerator

	- App\Model\Modules\User\UserFacade

	- App\Model\Modules\Player\PlayerFacade
	- App\Model\Modules\Player\SeasonStatsFacade

	- App\Model\Modules\Faction\FactionFacade

	- App\Model\Modules\Season\SeasonFacade

	- App\Model\Modules\Card\CardFacade
	- App\Model\Modules\Card\CollectionFacade

	- App\Model\Modules\Faction\FactionStatsFacade

	- App\Model\Modules\Pack\PackFacade

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
