services:
	- App\Core\RouterFactory::createRouter

	- App\Security\UserAuthenticator

	- App\Model\Service\LevelingService

	- App\Model\Modules\User\UserFacade
	- App\Model\Modules\Profile\ProfileFacade
	- App\Model\Modules\Profile\SeasonStatsFacade

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
